body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px; /* 你想要的新宽度 */
    margin: 50px auto; /* 居中 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    max-width: 400px; /* 你想要的新宽度 */
    margin: 50px auto; /* 居中 */
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#answerDisplay {
    max-width: 400px; /* 你想要的新宽度 */
    margin: 50px auto; /* 居中 */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.answer {
    max-width: 400px; /* 你想要的新宽度 */
    margin: 50px auto; /* 居中 */
    margin-bottom: 10px;
}
.answer-box {
    max-width: 400px; /* 你想要的新宽度 */
    margin: 50px auto; /* 居中 */
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
