<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRD_STUDENT</title>
    <link rel="stylesheet" href="../static/css/student.css">
</head>
<body>
    <div class="container">
        <h1>一体化在线教育社区系统</h1>
        <a class="button" href="#">注册</a>
        <a class="button" href="/login/student">登录</a>
        <nav>
            <ul>
                <li><a href="#">主页</a></li>
                <li><a href="#">课程</a></li>
                <li><a href="#">讨论区</a></li>
                <li><a href="#">成绩</a></li>
            </ul>
        </nav>
        <br>
    </div>
<!--    <div class="content" id="course">-->
<!--        <div class="container">-->
<!--            <h2>推荐课程</h2>-->
<!--            <div class="course">-->
<!--                <h2>计算机编程入门</h2>-->
<!--                <p>本课程介绍计算机编程的基础知识，适合初学者。</p>-->
<!--                <a class="btn" href="#">开始学习</a>-->
<!--            </div>-->
<!--            <div class="course">-->
<!--                <h2>数据结构与算法</h2>-->
<!--                <p>本课程深入讲解数据结构和算法的原理和应用。</p>-->
<!--                <a class="btn" href="#">开始学习</a>-->
<!--            </div>-->
<!--            <div class="course">-->
<!--                <h2>英语口语提高</h2>-->
<!--                <p>本课程旨在提高学生的英语口语水平。</p>-->
<!--                <a class="btn" href="#">开始学习</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>

<script>
    document.querySelectorAll('nav a').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        window.scrollTo({
            top: targetElement.offsetTop - 50, // 考虑到顶部固定导航栏的高度
            behavior: 'smooth' // 平滑滚动效果
        });
    });
});
</script>
</html>
