<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEACHER</title>
    <link rel="stylesheet" href="/static/css/teacher.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>一体化在线教育社区系统_教师端</h1>
<!--        <button class="Register_button" onclick="register()">注册</button>-->
<!--        <button class="Login_button" onclick="login()" id="teacher_login">登录</button>-->
        <div class="wrapper">
            <button class="custom-button" onclick="register()">
                <span class="material-icons">draw</span>
                <span>注册</span>
            </button>

            <button class="custom-button" onclick="login()" >
                <span class="material-icons">login</span>
                <span id="teacher_login">登录</span>
            </button>
        </div>

        <section>
          <div class="menu">

            <div>
              <button onclick="go_report()">
                <span class="material-icons">
                  assignment
                </span>
                <h3>课堂报告</h3>
                <p>上传课堂视频，即时生成ai视频报告</p>
              </button>
            </div>

            <div>
              <button onclick="go_courses()">
                <span class="material-icons">
                  chrome_reader_mode
                </span>
                <h3>课程信息</h3>
                <p>查看、添加、删除课程信息</p>
              </button>
            </div>

            <div>
              <button onclick="go_upload()">
                <span class="material-icons">
                  publish
                </span>
                <h3>上传</h3>
                <p>上传课件、作业、试卷、答案等</p>
              </button>
            </div>

            <div>
              <button onclick="go_public()">
                <span class="material-icons">
                  thumbs_up_down
                </span>
                <h3>发布成绩</h3>
                <p>学生的命运掌握在你手中</p>
              </button>
            </div>
          </div>
        </section>
    </div>

    <div>
        <button onclick="go_home()" class="return-button">返回</button>
    </div>

<script>
     var urlParams = new URLSearchParams(window.location.search);
     var receivedData = urlParams.get('data');
     var cookieName = "teacher";
     var cookieValue = receivedData;
     document.cookie = cookieName + "=" + cookieValue;

    function checkCookie(cookieName) {
        // 获取所有的 Cookie，并以分号加空格进行分割
        var cookies = document.cookie.split("; ");

        // 遍历所有 Cookie
        for (var i = 0; i < cookies.length; i++) {
            // 分割每个 Cookie 的键值对
            var cookiePair = cookies[i].split("=");

            // 检查当前 Cookie 是否为目标 Cookie
            if (cookiePair[0] === cookieName && cookiePair[1] === cookieValue) {
                // 如果找到目标 Cookie，返回 true
                return cookieValue;
            }
        }

        // 如果未找到目标 Cookie，则返回 false
        return false;
    }


    var myCookieValue = checkCookie("teacher");
    if (myCookieValue){
        var buttonContent = '<span class="material-icons">person</span>'; // 替换图标部分
        buttonContent += '<span>欢迎你,' + myCookieValue + '</span>'; // 添加欢迎消息
        var loginButton = document.querySelector(".wrapper .custom-button:nth-child(2)"); // 选择第二个按钮
        loginButton.innerHTML = buttonContent; // 替换按钮内容
        loginButton.classList.add("hovered"); // 添加 hover 类
    }
     function login(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
         }else{
             // alert("err");
             window.location.href="/login/teacher";
         }
     }

     function go_report(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
             window.location.href="/teacher/report";

         }else{
             alert("请先登录");
             window.location.href="/login/teacher";
         }
     }

       function go_courses(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
             window.location.href="/teacher/info";
         }else{
             alert("请先登录");
             window.location.href="/login/teacher";
         }
       }
       function go_upload(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
             window.location.href="/teacher/upload";

         }else{
             alert("请先登录");
             window.location.href="/login/teacher";
         }
     }
       function go_check(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
             window.location.href="/teacher/check";

         }else{
             alert("请先登录");
             window.location.href="/login/teacher";
         }
     }
       function go_public(){
         var ck=checkCookie('teacher');
         // alert(cookieValue);
         if(ck==cookieValue){
             // alert(ck);
             window.location.href="/teacher/public";

         }else{
             alert("请先登录");
             window.location.href="/login/teacher";
         }
     }

     function register(){
        window.location.href="http://127.0.0.1:5000/adduser/teacher"
    }


    //隐藏注册按钮
     document.addEventListener("DOMContentLoaded", function () {
        var ck = checkCookie('teacher');
        if (ck == cookieValue) {
            var registerButton = document.querySelector('.wrapper .custom-button:nth-child(1)'); // 选择注册按钮
            registerButton.classList.add('hidden');
        }
    });

     function go_home(){
         window.location.href = 'http://127.0.0.1:5000/';
        }
</script>
</body>
</html>