<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRD_TEACHER</title>
    <link rel="stylesheet" href="/static/css/teacher.css">

</head>
<body>
    <div class="container">
        <h1>一体化在线教育社区系统</h1>
        <a class="button" href="#">注册</a>
        <button class="button" onclick="login()" id="teacher_login">登录</button>
        <nav>
            <ul>
                <li><button onclick="go_home()">主页</button></li>
                <li><a href="/courses">课程</a></li>
                <li><a href="/upload">上传</a></li>
                <li><a href="/grade">批改作业</a></li>
                <li><a href="/publish">发布成绩</a></li>
            </ul>
        </nav>
        <br>
    </div>


<script>
     var urlParams = new URLSearchParams(window.location.search);
     var receivedData = urlParams.get('data');
     var cookieName = "teacher";
     var cookieValue = receivedData;
     document.cookie = cookieName + "=" + cookieValue;

    function checkCookie(cookieName) {
    // 获取所有的 Cookie，并以分号加空格进行分割
    var cookies = document.cookie.split("; ");

    // 遍历所有 Cookie
    for (var i = 0; i < cookies.length; i++) {
        // 分割每个 Cookie 的键值对
        var cookiePair = cookies[i].split("=");

        // 检查当前 Cookie 是否为目标 Cookie
        if (cookiePair[0] === cookieName && cookiePair[1] === cookieValue) {
            // 如果找到目标 Cookie，返回 true
            return cookieValue;
        }
    }

    // 如果未找到目标 Cookie，则返回 false
    return false;
}


     var myCookieValue = checkCookie("teacher");
     if (myCookieValue){
         alert(myCookieValue);
         var cookieString ='<div>'+'欢迎你,'+myCookieValue+'</div>';
         alert(cookieString);
         document.getElementById("teacher_login").innerHTML = cookieString;

     }

     function go_home(){
         var ck=checkCookie('teacher');
         alert(cookieValue);
         if(ck==cookieValue){
             alert(ck);
             window.location.href="/teacher/home";

         }else{
             alert("err");
             window.location.href="/login/teacher";
         }
     }
     function login(){
         var ck=checkCookie('teacher');
         alert(cookieValue);
         if(ck==cookieValue){
             alert(ck);
         }else{
             alert("err");
             window.location.href="/login/teacher";
         }
     }
</script>
</body>
</html>