<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher_info</title>
</head>

<body>
    <div id="teacher_info"></div>
<!--    <button onclick="getinfo()">getinfo</button>-->
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // function getinfo(){
            var cookies = document.cookie.split("; ");

        // 遍历所有 Cookie
        for (var i = 0; i < cookies.length; i++) {
            // 分割每个 Cookie 的键值对
            var cookiePair = cookies[i].split("=");

            // 检查当前 Cookie 是否为目标 Cookie
            if (cookiePair[0] === "teacher" && cookiePair[1]) {
                var data = {"username": cookiePair[1]}
                $.ajax({
                    url: "/teacher/info/get",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        if (response.success) {
                            alert("获取成功");
                            info = response.info;
                            course = response.course_info;
                            alert(info)
                            alert(course)
                            // for (var i = 1; i <= 5; i++) {
                            //     document.write('<li>Item ' + i + '</li>');
                            // }
                            document.write(info)
                            for(var i=2;i<course.length;i++){
                                // console.info(i +":"+ list2 [i]);
                                document.write('<li> course' + (i-1) +course[i] + '</li>');
}
                        }

                    },
                    error: function() {
                        alert("错误error");
                    }
                });

            }
        // }
    }



</script>

</html>
